// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
$theme-color--red: #af300b;
$theme-color--green: #008000;
$theme-color--blue: #21268a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.th {
  background-color: #04aa6d !important;
}
.ui.grid {
  margin-top: 0 !important;
}

.text {
  &-theme-color {
    &--red {
      color: $theme-color--red;
    }
    &--green {
      color: $theme-color--green;
    }
  }
}